{% extends "base.html.jinja2" %}
{% block body %}
    <div class="empty">
        <div class="empty-header">404</div>
        <p class="empty-title">Vorübergehend nicht verfügbar wegen Wartungsarbeiten</p>
        <p class="empty-subtitle text-secondary">
            Wir arbeiten gerade an der Website. Bitte versuchen Sie es später erneut.
        </p>
    </div>
{% endblock %}